    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a
                   href="/" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                    </div>
                    <span class="b-title">Patient Tr</span>

                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>

            </div>
            <div class="navbar-content scroll-div">

                <ul class="nav pcoded-inner-navbar">
                    <li class="pcoded-menu-caption"><span class="b-title">{{ user.username }} </span></li>
                    <li class="nav-item pcoded-menu-caption">

                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                        class="nav-item {% if 'index' in segment %} active {% endif %}">
                        <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Accueil</span></a>
                    </li>

                    <li class="nav-item pcoded-menu-caption">
                        <label>Gestion des patients</label>
                    </li>
                    <li data-username="form elements advance componant validation masking wizard picker select" 
                        class="nav-item {% if 'add_patient' in segment %} active {% endif %}">
                        <a href="/add_patient" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Ajouter un patient</span></a>
                    </li>
                    {% if employee.Role == "Administrateur" %}
                    <li class="nav-item pcoded-menu-caption">
                        <label>Gestion des consultations</label>
                    </li>
                    <li data-username="form elements advance componant validation masking wizard picker select"
                        class="nav-item {% if 'consultation' in segment %} active {% endif %}">
                        <a href="/global_consultation_patient" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Consultation</span></a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Statistiques </label>
                    </li>
                    <li data-username="Charts Morris" 
                        class="nav-item {% if 'charts-morris' in segment %} active {% endif %}">
                        <a href="/patient_stats" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Statistiques Des Patients</span></a></li>
                    <li data-username="Charts Morris"
                        class="nav-item {% if 'charts-morris' in segment %} active {% endif %}">
                        <a href="/consultation_stats" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Statistiques Des Consultations</span></a></li>
                    <br>
                    <br>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Profile </label>
                    </li>

                  <li data-username="register"
                        class="nav-item {% if 'register' in segment %} active {% endif %}">
                        <a href="{% url 'register' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user-plus"></i></span><span class="pcoded-mtext">Ajouter un profile</span></a></li>
                {% endif %}
                    <li data-username="logout"
                        class="nav-item {% if 'logout' in segment %} active {% endif %}">
                        <a href="/logout" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user-minus"></i></span><span class="pcoded-mtext">Déconnection</span></a></li>

                </ul>

            </div>

        </div>
    </nav>
