{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %}

{% block content %}   

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-user-plus auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Sign up</h3>

                    <span class="mb-0 text-muted">
                        {% if msg %}
                            {{ msg | safe }}
                        {% else %}
                            Add your credentials
                        {% endif %}
                    </span>

                    <br />
                    <br />

                    <form role="form" method="post" action="">

                        {% csrf_token %}

                        <div class="input-group mb-3">
                            {{ form.username }}
                        </div>
                        <span class="text-error">{{ form.username.errors }}</span>

                        <div class="input-group mb-3">
                            {{ form.email }}
                        </div>
                        <span class="text-error">{{ form.email.errors }}</span>

                        <div class="input-group mb-4">
                            {{ form.password1 }}
                        </div>
                        <span class="text-error">{{ form.password1.errors }}</span>

                        <div class="input-group mb-4">
                            {{ form.password2 }}
                        </div>
                        <span class="text-error">{{ form.password2.errors }}</span>
                        <div class="input-group mb-3">
                                 {{ employee_form.nom }}
                             </div>
                         <span class="text-error">{{ employee_form.nom.errors }}</span>
                    <div class="input-group mb-3">
                        {{ employee_form.prenom }}
                    </div>
                        <span class="text-error">{{ employee_form.prenom.errors }}</span>

                        <label>Date de naissance</label>
                    <div class="input-group mb-2">
                        {{ employee_form.date_de_naissance }}

                    </div>
                        <span class="text-error">{{ employee_form.date_de_naissance.errors }}</span>
                    <div class="input-group mb-3">
                        {{ employee_form.lieu_de_naissance }}
                    </div>
                        <span class="text-error">{{ employee_form.role.errors }}</span>
                        <label>Role</label>
                    <div class="input-group mb-3">
                        {{ employee_form.role }}
                    </div>
                        <span class="text-error">{{ employee_form.adresse.errors }}</span>
                    <div class="input-group mb-3">
                        {{ employee_form.adresse }}
                    </div>
                        <span class="text-error">{{ employee_form.cin.errors }}</span>
                    <div class="input-group mb-3">
                        {{ employee_form.cin }}
                    </div>
                        <span class="text-error">{{ employee_form.sexe.errors }}</span>
                    <div class="input-group mb-3">
                        {{ employee_form.sexe }}
                    </div>
                        <span class="text-error">{{ employee_form.statut_matrimonial.errors }}</span>
                   <div class="input-group mb-3">
                        {{ employee_form.statut_matrimonial }}
                    </div>
                        <span class="text-error">{{ employee_form.telephone.errors }}</span>
                    <div class="input-group mb-3">
                        {{ employee_form.telephone }}
                    </div>
                        <span class="text-error">{{ employee_form.telephone.errors }}</span>

                        <div class="form-group text-left">
                            <div class="checkbox checkbox-fill d-inline">
                                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                                <label for="checkbox-fill-a1" class="cr"> Agree with <a href="#">terms</a></label>
                            </div>
                        </div>
                        <button type="submit" name="register" class="btn btn-primary shadow-2 mb-4">Register</button>

                    </form>

                    <p class="mb-0 text-muted">Already have an account? <a href="{% url 'login' %}" >Login</a></p>
                    <br />

                </div>
            </div>
        </div>
    </div>

{% endblock content %}
