{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->

                    <div class="row">

                        <div class="col-xl-9 col-md-6   ">
                            <div class="card Recent-Users">

                                <div class="card-header">

                                    <h5>Recent Users</h5>
                                </div>
                                <!-- Modal -->

                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <form method="get">
                                            <a href="/Export_excel" class="label theme-bg text-white f-12"
                                               style="margin-left: 50%">Export Excel</a> <br><br>
                                            <div class="col-md-6">
                                                <label>Filter By</label>

                                                <label>Nom</label>
                                                {{ MyFilter.form.nom }}
                                                <label>Prénom</label>
                                                {{ MyFilter.form.prenom }}
                                                <label>Date de naissance</label>
                                                {{ MyFilter.form.date_de_naissance }}
                                                <label>CIN</label>
                                                {{ MyFilter.form.cin }}
                                                <button type="submit" class="label theme-bg text-white f-12"
                                                        class="labe2 theme-bg2 text-white">Submit
                                                </button>


                                            </div>


                                        </form>
                                        <table class="table table-hover">

                                            <tbody>

                                            {% for patient in page_obj %}
                                                <tr class="unread">

                                                    <td>
                                                        {% if patient.Sexe == 'Female' %}
                                                        <img class="rounded-circle" style="width:40px;"
                                                             src="/static/assets/images/user/avatar-1.jpg"
                                                             alt="activity-user">
                                                        {% else %}
                                                            <img class="rounded-circle" style="width:40px;"
                                                                 src="/static/assets/images/user/avatar-2.jpg"
                                                                 alt="activity-user">
                                                        {% endif %}
                                                        </td>
                                                    <td>
                                                        <h6 class="mb-1">{{ patient.Nom }}</h6>
                                                        <p class="m-0">{{ patient.Prenom }}</p>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted"><i
                                                                class="fas fa-circle text-c-green f-10 m-r-15"></i>{{ patient.Date_de_naissance }}
                                                        </h6>
                                                    </td>
                                                    <div id="{{ patient.Cin }}" class="modal fade" role="dialog">
                                                        <div class="modal-dialog">

                                                            <!-- Modal content-->
                                                            <div class="modal-content">

                                                                <div class="modal-header">
                                                                    <h4 class="modal-title float-left">Delete
                                                                        patient</h4>
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal">&times;
                                                                    </button>

                                                                </div>
                                                                <div class="modal-body">
                                                                    <p>Do you really want to delete this
                                                                        patient? </p>
                                                                </div>
                                                                <div class="modal-footer">

                                                                    <a href="" data-toggle="modal"
                                                                       data-target="#{{ patient.Cin }}"
                                                                       class="label theme-bg2 text-white">No</a>
                                                                    <a href="/delete_patient/{{patient.Cin}}"
                                                                       class="label theme-bg text-white f-12">Yes</a>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <td><a href="/view_patient/{{ patient.Cin }}"
                                                           class="label theme-bg2 text-white">View</a>
                                                        <a href="/update_patient/{{ patient.Cin }}"
                                                            class="label theme-bg text-white f-12">Update</a>

                                                        <a href=""
                                                            data-toggle="modal"
                                                            data-target="#{{ patient.Cin }}"
                                                            class="label theme-bg2 text-white">Delete</a>
                                                        <a href="/consultation_patient/{{ patient.Cin }}"
                                                           class="label theme-bg text-white f-12">Consultation</a>


                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>

                                        </table>
                                    </div>
                                    <div class="pagination">
                                               <span class="step-links">
                                                   {% if page_obj.has_previous %}
                                                       <a href="?page=1">&laquo; first</a>
                                                       <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                                   {% endif %}

                                                   <span class="current">
                                                       Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                                   </span>

                                                   {% if page_obj.has_next %}
                                                       <a href="?page={{ page_obj.next_page_number }}">next</a>
                                                       <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                                   {% endif %}
                                               </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
